<div class="container">
    <div class="row">
        <?php foreach($data['comments'] as $comment) { ?>
        <div class="col-md-2 well">
            <h2><?=$comment['user']?></h2>
            <p><?=$comment['date']?></p>
            <p>News:<a href="posts/view/<?=$comment['id_news']?>"><?=$comment['news_tittle']?></a></p>
            <p><?=$comment['content']?></p>
            <div>
                <span class="pull-left positive"><img src="webroot/img/plus.png" style="width: 30px;height: 30px" alt="plus">:<span class="pos_num"><?=$comment['positive']?></span></span>
                <span class="pull-left negative"><img src="webroot/img/minus.png" style="width: 30px;height: 30px" alt="minus">:<span class="neg_num"><?=$comment['negative']?></span></span>
            </div>
        </div>
        <?php } ?>
    </div>
</div>
<div style="text-align: center">
    <ul class="pagination">
        <?php $pages = ceil($data['count'][0]['num']/5);?>
        <?php if($pages >= 1): ?>
        <li><a href="<?=$data['uri']?>/1">1</a></li>
        <?php if($pages > 2): ?>
        <li>
            <span class="show-pagination">...</span>
            <ul class="advance-pagination" style="display: none">
                <?php for($i = 2; $i < $pages; $i++): ?>
                <li><a href="<?=$data['uri']?>/<?=$i?>"><?=$i?></a></li>
                <?php endfor; ?>
            </ul>
        </li>
        <?php endif; ?>
        <?php if($pages > 1): ?>
        <li><a href="<?=$data['uri']?>/<?=$pages?>"><?=$pages?></a></li>
        <?php endif; ?>
        <?php endif; ?>
    </ul>
</div>
<script type="text/javascript">
    $('.show-pagination').on("click",function() {
        $(this).css("display", "none");
        $('.advance-pagination').fadeIn(500);
    });
</script>

