* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

h2 {
	text-align: center;
	margin-top: 0;
}

.wrapper {
	height: 100%;
}

.header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	height: 20%;
	padding: 0 20px;
	border-bottom: 2px solid silver;
	background: #fafafa;
}

.section {
	display: flex;
	flex-flow: row wrap;
	height: 60%;
}

.navigation {
	flex: 1 1 20%;
	padding: 20px;
	border: 2px solid silver;
}

.article {
	flex: 1 1 55%;
	padding: 20px;
	border: 2px solid silver;
}

.api {
	flex: 1 1 25%;
	padding: 20px;
	border: 2px solid silver;
	min-height: 300px;
}

.api__articles {
	height: 90%;
	overflow-y: scroll;
}

.footer {
	display: flex;
	align-items: center;
	height: 20%;
	padding: 20px;
	border: 2px solid silver;
}

.post__image {
	max-width: 100%;
}