* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
    text-align: center;
}

.canvas {
    border: 1px solid black;
}

.btn {
    display: inline-block;
}